
*{
    margin: 0px;
    padding: 0px;
}
.C1{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(kelly-sikkema-IZOAOjvwhaM-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: realtive;
}
nav{
    position: sticky;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}

.C3{
    
    height: 80px;
    width: 100vw;
    background-color: black;
    border: 2px solid;
    flex: 1;
    text-align: right;
    font-family: 'Shizuru', cursive;
}
.C3 ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.C3 ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.25em;
}
.C3 ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #36f4f1;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.C3 ul li:hover::after{
    width: 100%;
}
.C4{
    width: 90%;
    /* color: rgb(215, 67, 190); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h1{
    color: #2635a6;
    margin: 70px;
    text-transform: uppercase;
    /* -webkit-box-reflect:below 1px linear-gradient(transparent,#0004); */
    animation: animate 1s ease-in-out infinite
    alternate;
}

@keyframes animate{
    from{
        text-shadow: 0 0 1.875em #289aab;
    }
    to{
        text-shadow: 0 0 2.5em #289aab,
                     0 0 1.25em #289aab;
    }
}
.C4 h1{
    font-size: 130px;
}
.C4 p{
    margin:11px 0 41px;
    font-size: 60px;
    color: rgba(182, 11, 11, 0.711);
}
.R5 .R6{
    text-transform: uppercase;
}
.R5 .R6::before{
    left: 3px;
    text-shadow: -2px 0 red;
}
.R5 .R6::after{
left: -3px;
text-shadow: -5px 0 blue;

}
/* .About{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 100px; */

/* h2{
    font-size: 90px;
}

.C6{
    flex: 1;
    text-align: right;
    font-family: 'Shizuru', cursive; */
    .C11{
        font-size: 70px;
        color: rgb(236, 23, 23);   
    }
    
    .C5{
        width: 80%;
        margin:auto;
        text-align: center;
        padding-top: 100px;
        font-size: 120px;
    }
    .C7{
       
       width: 32vw;
       border-radius: 20px;
       
       font-size: 30px;
      
       height: 90px;
       background-color: lightgreen;
       cursor: pointer;
       
    }
    .C9{
       
        display: inline-block;
    }
    .C10{
        padding: 10px;
        min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(190, 201, 242, 0.7)),url(anastase-maragos-7kEpUPB8vNk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: realtive;
    }
    
    .C11{
        min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(190, 201, 242, 0.7)),url(anastase-maragos-7kEpUPB8vNk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: realtive;
    }
    
    .C12{
        min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(190, 201, 242, 0.7)),url(anastase-maragos-7kEpUPB8vNk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: realtive;
    }
    .C14{
        display: inline-block;
    }
    .C16{
        
        width: 80%;
        margin:auto;
        text-align: center;
        padding-top: 100px;
        font-size: 120px;
        color: rgba(237, 22, 22, 0.9);
        
        animation: animate 1s ease-in-out infinite
        alternate;
    }
    .C17{
        color: pink;
        text-align: center;
        font-size: 80px;
    }
    .C20{
        color: orange;
        font-size: 70px;
        text-align: center;
    }
    .C19{
        font-size: 50px;
        text-align: center;
    }
    .C21{
        font-size: 50px;
        text-align: center;
    }
    .C24{
        min-height: 100vh;
        width: 100%;
        background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(TamSoR.jpg);
        background-position: center;
        background-size: cover;
        position: realtive;
    }
    .C25{
        width: 80%;
        font-size: 70px;
        margin:auto;
        text-align: center;
        padding-top: 100px;
    }
    .C26{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .C26 .C17{
        position: relative;
       
    }
    .C26 .C27:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background: #d35400;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        z-index: -1;
        transform: scale(0.9);
        transition: 0.5s;
    }
    .C26 .C27:hover:before{
        transform: scale(1.5);
    }